* {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    position: sticky;
    top: 0;
    cursor: pointer;
  }

  .background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
  }

  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .nav-list li {
    list-style: none;
    padding: 26px 30px;
  }

  .nav-list li a {
    text-decoration: none;
    color: white;
    min-width: 100px;
  }

    .nav-list li:hover {
    list-style: none;
    background-color: #FFC300;
    padding: 26px 30px;
  }


  .rightnav {
    width: 30%;
    text-align: right;
  }

  .p1 {
      font: 15px Lucida, monospace;
    }

  .firstsection {
    height: 400px;
  }

  .secondsection {
    height: 400px;
  }

  .thirdsection {
    height: 400px;
  }

  .fourthsection {
    height: 400px;
  }

  .fifthsection {
    height: 400px;
  }

  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
  }

  .firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .secondhalf {
    width: 30%;
  }


  .text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
    color: #d9d4d4;  
  }

  .text-small {
    font-size: 19px;
    color: #d9d4d4;  
  }

  .btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
  }

  .section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
  }

  .text-footer {
    text-align: center;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
  }

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87CEEB;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #171616;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e2d2d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
